@font-face {
  font-family: myFirstFont;
  src: url("./Montserrat-Medium.woff") format("woff");
  font-stretch: normal;
  font-weight: normal;
  font-style: normal;
}

.hello {
  color: red;
  background: url("./icon.png");
  background-repeat: no-repeat;
  font-family: myFirstFont;
}
